#confirmButton {
  float: right;
  /*padding: 10px 12px;*/
  margin-top: 40px;
  text-align: center;
  vertical-align: middle;
  cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer;
  border: none;
  color: #212529;
  background-color: #fff;
  box-shadow: inset -4px -4px #adafbc;
}
